Buchung/Service References/API_QueueService/QueueManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/ServiceContracts/QueueService" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/ServiceContracts/QueueService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/QueueManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Queue" />
  <xs:element name="MoveBookingQueueItemRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q1:MoveBookingQueueItemRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindQueuedBookingsByIDRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q2:BookingQueueRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindQueuedBookingsByIDResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q3:BookingQueueDetailResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DeleteBookingFromQueueRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q4:BookingQueueRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitBookingQueueRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q5:BookingQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitBookingQueueResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q6:BookingQueue" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueFlightRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q7:QueueFlightRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="QueueFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q8:QueueFlightResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DequeueNextFlightRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q9:DequeueNextFlightRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DequeueNextFlightResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q10:DequeueNextFlightResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DequeueFlightWithSummaryRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q11:DequeueFlightWithSummaryRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="DequeueFlightWithSummaryResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.navitaire.com/WebServices/DataContracts/Queue" minOccurs="0" ref="q12:DequeueFlightWithSummaryResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>