Buchung/Service References/API_PersonService/PersonManager9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Person" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Person" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/PersonManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/PersonManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
  <xs:complexType name="Person">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q1:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="PersonType" type="q2:PersonType" />
          <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="PersonStatus" type="q3:PersonStatus" />
          <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
          <xs:element xmlns:q4="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Gender" type="q4:Gender" />
          <xs:element minOccurs="0" name="NationalIDNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeBAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TrustLevel" type="xs:short" />
          <xs:element minOccurs="0" name="PaxType" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ResidentCountry" nillable="true" type="xs:string" />
          <xs:element xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="NotificationPreference" type="q5:NotificationPreference" />
          <xs:element minOccurs="0" name="PersonAddressList" nillable="true" type="tns:ArrayOfPersonAddress" />
          <xs:element minOccurs="0" name="PersonComments" nillable="true" type="tns:ArrayOfPersonComment" />
          <xs:element minOccurs="0" name="PersonEMailList" nillable="true" type="tns:ArrayOfPersonEMail" />
          <xs:element minOccurs="0" name="PersonFOPList" nillable="true" type="tns:ArrayOfPersonFOP" />
          <xs:element minOccurs="0" name="PersonInfoList" nillable="true" type="tns:ArrayOfPersonInfo" />
          <xs:element minOccurs="0" name="PersonNameList" nillable="true" type="tns:ArrayOfPersonName" />
          <xs:element minOccurs="0" name="PersonPhoneList" nillable="true" type="tns:ArrayOfPersonPhone" />
          <xs:element minOccurs="0" name="TravelDocs" nillable="true" type="tns:ArrayOfTravelDoc" />
          <xs:element minOccurs="0" name="PersonCustomerPrograms" nillable="true" type="tns:ArrayOfPersonCustomerProgram" />
          <xs:element minOccurs="0" name="PersonAttachments" nillable="true" type="tns:ArrayOfPersonAttachment" />
          <xs:element minOccurs="0" name="PersonContactList" nillable="true" type="tns:ArrayOfPersonContact" />
          <xs:element minOccurs="0" name="PersonUnitPreferences" nillable="true" type="tns:ArrayOfPersonUnitPreference" />
          <xs:element minOccurs="0" name="PersonAffiliationList" nillable="true" type="tns:ArrayOfPersonAffiliation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Person" nillable="true" type="tns:Person" />
  <xs:complexType name="ArrayOfPersonAddress">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonAddress" nillable="true" type="tns:PersonAddress" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonAddress" nillable="true" type="tns:ArrayOfPersonAddress" />
  <xs:complexType name="PersonAddress">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q6:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="PersonAddressID" type="xs:long" />
          <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Address" nillable="true" type="q6:Address" />
          <xs:element minOccurs="0" name="Default" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonAddress" nillable="true" type="tns:PersonAddress" />
  <xs:complexType name="ArrayOfPersonComment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonComment" nillable="true" type="tns:PersonComment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonComment" nillable="true" type="tns:ArrayOfPersonComment" />
  <xs:complexType name="PersonComment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q7:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="PersonCommentID" type="xs:long" />
          <xs:element minOccurs="0" name="CommentText" nillable="true" type="xs:string" />
          <xs:element xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="CommentType" type="q8:CommentType" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonComment" nillable="true" type="tns:PersonComment" />
  <xs:complexType name="ArrayOfPersonEMail">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonEMail" nillable="true" type="tns:PersonEMail" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonEMail" nillable="true" type="tns:ArrayOfPersonEMail" />
  <xs:complexType name="PersonEMail">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q9:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EMailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Default" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonEMail" nillable="true" type="tns:PersonEMail" />
  <xs:complexType name="ArrayOfPersonFOP">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonFOP" nillable="true" type="tns:PersonFOP" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonFOP" nillable="true" type="tns:ArrayOfPersonFOP" />
  <xs:complexType name="PersonFOP">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q10="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q10:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="PersonFOPID" type="xs:long" />
          <xs:element xmlns:q11="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="PaymentMethodType" type="q11:PaymentMethodType" />
          <xs:element minOccurs="0" name="PaymentMethodCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Default" type="xs:boolean" />
          <xs:element minOccurs="0" name="AccountNumberID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonFOP" nillable="true" type="tns:PersonFOP" />
  <xs:complexType name="ArrayOfPersonInfo">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonInfo" nillable="true" type="tns:PersonInfo" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonInfo" nillable="true" type="tns:ArrayOfPersonInfo" />
  <xs:complexType name="PersonInfo">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q12:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonalInfoData" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Size" type="xs:int" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonInfo" nillable="true" type="tns:PersonInfo" />
  <xs:complexType name="ArrayOfPersonName">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonName" nillable="true" type="tns:PersonName" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonName" nillable="true" type="tns:ArrayOfPersonName" />
  <xs:complexType name="PersonName">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q13:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="PersonNameID" type="xs:long" />
          <xs:element xmlns:q14="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="NameType" type="q14:NameType" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="q13:Name" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonName" nillable="true" type="tns:PersonName" />
  <xs:complexType name="ArrayOfPersonPhone">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonPhone" nillable="true" type="tns:PersonPhone" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonPhone" nillable="true" type="tns:ArrayOfPersonPhone" />
  <xs:complexType name="PersonPhone">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q15:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="PersonPhoneID" type="xs:long" />
          <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PhoneCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Default" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonPhone" nillable="true" type="tns:PersonPhone" />
  <xs:complexType name="ArrayOfTravelDoc">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="TravelDoc" nillable="true" type="tns:TravelDoc" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfTravelDoc" nillable="true" type="tns:ArrayOfTravelDoc" />
  <xs:complexType name="TravelDoc">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q16:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="DocTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IssuedByCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="IssuedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DocNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DOB" type="xs:dateTime" />
          <xs:element xmlns:q17="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Gender" type="q17:Gender" />
          <xs:element minOccurs="0" name="Name" nillable="true" type="q16:Name" />
          <xs:element minOccurs="0" name="BirthCountry" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Nationality" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Default" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="TravelDoc" nillable="true" type="tns:TravelDoc" />
  <xs:complexType name="ArrayOfPersonCustomerProgram">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonCustomerProgram" nillable="true" type="tns:PersonCustomerProgram" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonCustomerProgram" nillable="true" type="tns:ArrayOfPersonCustomerProgram" />
  <xs:complexType name="PersonCustomerProgram">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q18="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q18:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramLevel" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EffectiveDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="Default" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonCustomerProgram" nillable="true" type="tns:PersonCustomerProgram" />
  <xs:complexType name="ArrayOfPersonAttachment">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonAttachment" nillable="true" type="tns:PersonAttachment" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonAttachment" nillable="true" type="tns:ArrayOfPersonAttachment" />
  <xs:complexType name="PersonAttachment">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q19="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q19:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="PersonAttachmentID" type="xs:long" />
          <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ContentDataType" type="xs:short" />
          <xs:element minOccurs="0" name="Data" nillable="true" type="xs:base64Binary" />
          <xs:element minOccurs="0" name="Size" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonAttachment" nillable="true" type="tns:PersonAttachment" />
  <xs:complexType name="ArrayOfPersonContact">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonContact" nillable="true" type="tns:PersonContact" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonContact" nillable="true" type="tns:ArrayOfPersonContact" />
  <xs:complexType name="PersonContact">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q20="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q20:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="HomePhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="WorkPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OtherPhone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Fax" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CompanyName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine1" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine2" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AddressLine3" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="City" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProvinceState" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PostalCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CountryCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonContact" nillable="true" type="tns:PersonContact" />
  <xs:complexType name="ArrayOfPersonUnitPreference">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonUnitPreference" nillable="true" type="tns:PersonUnitPreference" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonUnitPreference" nillable="true" type="tns:ArrayOfPersonUnitPreference" />
  <xs:complexType name="PersonUnitPreference">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q21="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q21:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="PropertyTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PropertyCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonUnitPreference" nillable="true" type="tns:PersonUnitPreference" />
  <xs:complexType name="ArrayOfPersonAffiliation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="PersonAffiliation" nillable="true" type="tns:PersonAffiliation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfPersonAffiliation" nillable="true" type="tns:ArrayOfPersonAffiliation" />
  <xs:complexType name="PersonAffiliation">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q22="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q22:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonAffiliationID" type="xs:long" />
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PersonAffiliation" nillable="true" type="tns:PersonAffiliation" />
  <xs:element name="personReqData" nillable="true" type="tns:Person" />
  <xs:complexType name="FindPersonRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q23="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q23:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="q23:SearchString" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="NationalIDNumber" nillable="true" type="q23:SearchString" />
          <xs:element minOccurs="0" name="Phone" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="EmailAddress" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
          <xs:element xmlns:q24="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="PersonType" type="q24:PersonType" />
          <xs:element minOccurs="0" name="ProgramNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ProgramCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindPersonRequest" nillable="true" type="tns:FindPersonRequest" />
  <xs:element name="FindPersonRequestData" nillable="true" type="tns:FindPersonRequest" />
  <xs:complexType name="FindPersonResponseData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q25="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q25:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FindPersonList" nillable="true" type="tns:ArrayOfFindPersonItem" />
          <xs:element minOccurs="0" name="OtherServiceInformations" nillable="true" type="q25:ArrayOfOtherServiceInformation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindPersonResponseData" nillable="true" type="tns:FindPersonResponseData" />
  <xs:complexType name="ArrayOfFindPersonItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FindPersonItem" nillable="true" type="tns:FindPersonItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFindPersonItem" nillable="true" type="tns:ArrayOfFindPersonItem" />
  <xs:complexType name="FindPersonItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonID" type="xs:long" />
      <xs:element xmlns:q26="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="PersonType" type="q26:PersonType" />
      <xs:element xmlns:q27="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Status" type="q27:PersonStatus" />
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q28="http://schemas.navitaire.com/WebServices/DataContracts/Common" minOccurs="0" name="Name" nillable="true" type="q28:Name" />
      <xs:element minOccurs="0" name="PhoneNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EMail" nillable="true" type="xs:string" />
      <xs:element xmlns:q29="http://schemas.navitaire.com/WebServices/DataContracts/Common" minOccurs="0" name="Address" nillable="true" type="q29:Address" />
      <xs:element minOccurs="0" name="NationalIDNumber" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindPersonItem" nillable="true" type="tns:FindPersonItem" />
  <xs:complexType name="GetPersonRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="GetDetails" type="xs:boolean" />
      <xs:element xmlns:q30="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="GetPersonBy" type="q30:GetPersonBy" />
      <xs:element minOccurs="0" name="GetPersonByPersonID" nillable="true" type="tns:GetPersonByPersonID" />
      <xs:element minOccurs="0" name="GetPersonByCustomerNumber" nillable="true" type="tns:GetPersonByCustomerNumber" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonRequestData" nillable="true" type="tns:GetPersonRequestData" />
  <xs:complexType name="GetPersonByPersonID">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonByPersonID" nillable="true" type="tns:GetPersonByPersonID" />
  <xs:complexType name="GetPersonByCustomerNumber">
    <xs:sequence>
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="WithInfoData" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonByCustomerNumber" nillable="true" type="tns:GetPersonByCustomerNumber" />
  <xs:complexType name="ArrayOfGetPersonInfoList">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetPersonInfoList" nillable="true" type="tns:GetPersonInfoList" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetPersonInfoList" nillable="true" type="tns:ArrayOfGetPersonInfoList" />
  <xs:complexType name="GetPersonInfoList">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonID" type="xs:long" />
      <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="InfoData" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Size" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonInfoList" nillable="true" type="tns:GetPersonInfoList" />
  <xs:element name="PersonInfoLists" nillable="true" type="tns:ArrayOfGetPersonInfoList" />
  <xs:complexType name="GetPersonInfoData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonID" type="xs:long" />
      <xs:element minOccurs="0" name="TypeCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetPersonInfoData" nillable="true" type="tns:GetPersonInfoData" />
  <xs:complexType name="UpdatePersonTrustLevelRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="PersonID" type="xs:long" />
      <xs:element minOccurs="0" name="TrustLevel" type="xs:short" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="UpdatePersonTrustLevelRequestData" nillable="true" type="tns:UpdatePersonTrustLevelRequestData" />
  <xs:element name="UpdatePersonTrustLevelReqData" nillable="true" type="tns:UpdatePersonTrustLevelRequestData" />
</xs:schema>