Buchung/Service References/API_AccountService/AccountManager.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.navitaire.com/WebServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="AccountManager" targetNamespace="http://schemas.navitaire.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IAccountManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.navitaire.com/WebServices/Imports">
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd0" namespace="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd6" namespace="http://schemas.navitaire.com/WebServices" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd7" namespace="http://schemas.navitaire.com/WebServices/FaultContracts" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Account" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd5" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd8" namespace="http://www.navitaire.com/Ncl/Validation/ValidationResult" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Navitaire.Ncl.Collections" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd10" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="CommitAccountRequest">
    <wsdl:part xmlns:q1="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q1:CommitAccountRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAccountRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAccountResponse">
    <wsdl:part xmlns:q2="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q2:CommitAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccount_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q3:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccount_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q4:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccount_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q5:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccount_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q6:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccount_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q7:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccount_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q8:APIFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccount_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q9:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="FindAccountTransactionRequest">
    <wsdl:part xmlns:q10="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q10:FindAccountTransactionRequest" />
  </wsdl:message>
  <wsdl:message name="FindAccountTransactionRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="FindAccountTransactionResponse">
    <wsdl:part xmlns:q11="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q11:FindAccountTransactionResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_FindAccountTransactions_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q12:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_FindAccountTransactions_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q13:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_FindAccountTransactions_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q14:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_FindAccountTransactions_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q15:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_FindAccountTransactions_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q16:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_FindAccountTransactions_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q17:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_FindAccountTransactions_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q18:APIFault" />
  </wsdl:message>
  <wsdl:message name="GetAccountRequest">
    <wsdl:part xmlns:q19="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q19:GetAccountRequest" />
  </wsdl:message>
  <wsdl:message name="GetAccountRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetAccountResponse">
    <wsdl:part xmlns:q20="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q20:GetAccountResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccount_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q21:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccount_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q22:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccount_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q23:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccount_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q24:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccount_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q25:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccount_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q26:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccount_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q27:APIFault" />
  </wsdl:message>
  <wsdl:message name="GetAccountByReferenceRequest">
    <wsdl:part xmlns:q28="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q28:GetAccountByReferenceRequest" />
  </wsdl:message>
  <wsdl:message name="GetAccountByReferenceRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetAccountByReferenceResponse">
    <wsdl:part xmlns:q29="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q29:GetAccountByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountByReference_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q30="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q30:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountByReference_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q31="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q31:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountByReference_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q32="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q32:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountByReference_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q33="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q33:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountByReference_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q34="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q34:APIFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountByReference_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q35="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q35:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAccountByReference_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q36="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q36:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByReferenceRequest">
    <wsdl:part xmlns:q37="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q37:GetAvailableCreditByReferenceRequest" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByReferenceRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetAvailableCreditByReferenceResponse">
    <wsdl:part xmlns:q38="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q38:GetAvailableCreditByReferenceResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAvailableCreditByReference_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q39="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q39:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAvailableCreditByReference_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q40="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q40:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAvailableCreditByReference_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q41="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q41:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAvailableCreditByReference_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q42="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q42:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAvailableCreditByReference_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q43="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q43:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAvailableCreditByReference_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q44="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q44:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_GetAvailableCreditByReference_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q45="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q45:APIFault" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsRequest">
    <wsdl:part xmlns:q46="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q46:CommitAccountTransactionsRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsResponse">
    <wsdl:part xmlns:q47="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q47:CommitAccountTransactionsResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactions_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q48="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q48:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactions_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q49="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q49:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactions_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q50="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q50:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactions_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q51="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q51:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactions_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q52="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q52:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactions_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q53="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q53:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactions_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q54="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q54:APIFault" />
  </wsdl:message>
  <wsdl:message name="CommitAccountBatchRequest">
    <wsdl:part xmlns:q55="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q55:CommitAccountBatchRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAccountBatchRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAccountBatchResponse">
    <wsdl:part xmlns:q56="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q56:CommitAccountBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountBatch_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q57="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q57:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountBatch_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q58="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q58:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountBatch_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q59="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q59:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountBatch_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q60="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q60:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountBatch_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q61="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q61:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountBatch_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q62="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q62:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountBatch_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q63="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q63:APIFault" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsBatchRequest">
    <wsdl:part xmlns:q64="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q64:CommitAccountTransactionsBatchRequest" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsBatchRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="CommitAccountTransactionsBatchResponse">
    <wsdl:part xmlns:q65="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" name="parameters" element="q65:CommitAccountTransactionsBatchResponse" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactionBatchEntry_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q66="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q66:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactionBatchEntry_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q67="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q67:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactionBatchEntry_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q68="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q68:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactionBatchEntry_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q69="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q69:APIFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactionBatchEntry_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q70="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q70:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactionBatchEntry_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q71="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q71:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IAccountManager_CommitAccountTransactionBatchEntry_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q72="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q72:APISecurityFault" />
  </wsdl:message>
  <wsdl:portType name="IAccountManager">
    <wsdl:operation name="CommitAccount">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccount" name="CommitAccountRequest" message="tns:CommitAccountRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountResponse" name="CommitAccountResponse" message="tns:CommitAccountResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IAccountManager_CommitAccount_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IAccountManager_CommitAccount_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IAccountManager_CommitAccount_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IAccountManager_CommitAccount_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IAccountManager_CommitAccount_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountAPIFaultFault" name="APIFaultFault" message="tns:IAccountManager_CommitAccount_APIFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IAccountManager_CommitAccount_APIGeneralFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="FindAccountTransactions">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactions" name="FindAccountTransactionRequest" message="tns:FindAccountTransactionRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsResponse" name="FindAccountTransactionResponse" message="tns:FindAccountTransactionResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IAccountManager_FindAccountTransactions_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IAccountManager_FindAccountTransactions_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IAccountManager_FindAccountTransactions_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IAccountManager_FindAccountTransactions_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IAccountManager_FindAccountTransactions_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IAccountManager_FindAccountTransactions_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactionsAPIFaultFault" name="APIFaultFault" message="tns:IAccountManager_FindAccountTransactions_APIFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccount" name="GetAccountRequest" message="tns:GetAccountRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountResponse" name="GetAccountResponse" message="tns:GetAccountResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IAccountManager_GetAccount_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IAccountManager_GetAccount_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IAccountManager_GetAccount_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IAccountManager_GetAccount_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IAccountManager_GetAccount_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IAccountManager_GetAccount_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountAPIFaultFault" name="APIFaultFault" message="tns:IAccountManager_GetAccount_APIFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAccountByReference">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReference" name="GetAccountByReferenceRequest" message="tns:GetAccountByReferenceRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceResponse" name="GetAccountByReferenceResponse" message="tns:GetAccountByReferenceResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IAccountManager_GetAccountByReference_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IAccountManager_GetAccountByReference_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IAccountManager_GetAccountByReference_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IAccountManager_GetAccountByReference_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceAPIFaultFault" name="APIFaultFault" message="tns:IAccountManager_GetAccountByReference_APIFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IAccountManager_GetAccountByReference_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReferenceAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IAccountManager_GetAccountByReference_APIWarningFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByReference">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReference" name="GetAvailableCreditByReferenceRequest" message="tns:GetAvailableCreditByReferenceRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceResponse" name="GetAvailableCreditByReferenceResponse" message="tns:GetAvailableCreditByReferenceResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IAccountManager_GetAvailableCreditByReference_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IAccountManager_GetAvailableCreditByReference_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IAccountManager_GetAvailableCreditByReference_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IAccountManager_GetAvailableCreditByReference_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IAccountManager_GetAvailableCreditByReference_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IAccountManager_GetAvailableCreditByReference_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReferenceAPIFaultFault" name="APIFaultFault" message="tns:IAccountManager_GetAvailableCreditByReference_APIFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitAccountTransactions">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactions" name="CommitAccountTransactionsRequest" message="tns:CommitAccountTransactionsRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsResponse" name="CommitAccountTransactionsResponse" message="tns:CommitAccountTransactionsResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IAccountManager_CommitAccountTransactions_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IAccountManager_CommitAccountTransactions_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IAccountManager_CommitAccountTransactions_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IAccountManager_CommitAccountTransactions_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IAccountManager_CommitAccountTransactions_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IAccountManager_CommitAccountTransactions_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionsAPIFaultFault" name="APIFaultFault" message="tns:IAccountManager_CommitAccountTransactions_APIFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitAccountBatch">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatch" name="CommitAccountBatchRequest" message="tns:CommitAccountBatchRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchResponse" name="CommitAccountBatchResponse" message="tns:CommitAccountBatchResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IAccountManager_CommitAccountBatch_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IAccountManager_CommitAccountBatch_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IAccountManager_CommitAccountBatch_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IAccountManager_CommitAccountBatch_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IAccountManager_CommitAccountBatch_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IAccountManager_CommitAccountBatch_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatchAPIFaultFault" name="APIFaultFault" message="tns:IAccountManager_CommitAccountBatch_APIFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="CommitAccountTransactionBatchEntry">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntry" name="CommitAccountTransactionsBatchRequest" message="tns:CommitAccountTransactionsBatchRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryResponse" name="CommitAccountTransactionsBatchResponse" message="tns:CommitAccountTransactionsBatchResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IAccountManager_CommitAccountTransactionBatchEntry_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IAccountManager_CommitAccountTransactionBatchEntry_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IAccountManager_CommitAccountTransactionBatchEntry_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryAPIFaultFault" name="APIFaultFault" message="tns:IAccountManager_CommitAccountTransactionBatchEntry_APIFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IAccountManager_CommitAccountTransactionBatchEntry_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IAccountManager_CommitAccountTransactionBatchEntry_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntryAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IAccountManager_CommitAccountTransactionBatchEntry_APISecurityFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IAccountManager" type="tns:IAccountManager">
    <wsp:PolicyReference URI="#BasicHttpBinding_IAccountManager_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="CommitAccount">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccount" style="document" />
      <wsdl:input name="CommitAccountRequest">
        <soap:header message="tns:CommitAccountRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:CommitAccountRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="FindAccountTransactions">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/FindAccountTransactions" style="document" />
      <wsdl:input name="FindAccountTransactionRequest">
        <soap:header message="tns:FindAccountTransactionRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:FindAccountTransactionRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:FindAccountTransactionRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:FindAccountTransactionRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindAccountTransactionResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccount">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccount" style="document" />
      <wsdl:input name="GetAccountRequest">
        <soap:header message="tns:GetAccountRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetAccountRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:GetAccountRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:GetAccountRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAccountResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAccountByReference">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/GetAccountByReference" style="document" />
      <wsdl:input name="GetAccountByReferenceRequest">
        <soap:header message="tns:GetAccountByReferenceRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetAccountByReferenceRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:GetAccountByReferenceRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:GetAccountByReferenceRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAccountByReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetAvailableCreditByReference">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/GetAvailableCreditByReference" style="document" />
      <wsdl:input name="GetAvailableCreditByReferenceRequest">
        <soap:header message="tns:GetAvailableCreditByReferenceRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetAvailableCreditByReferenceRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:GetAvailableCreditByReferenceRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:GetAvailableCreditByReferenceRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetAvailableCreditByReferenceResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CommitAccountTransactions">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactions" style="document" />
      <wsdl:input name="CommitAccountTransactionsRequest">
        <soap:header message="tns:CommitAccountTransactionsRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountTransactionsRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:CommitAccountTransactionsRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountTransactionsRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAccountTransactionsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CommitAccountBatch">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountBatch" style="document" />
      <wsdl:input name="CommitAccountBatchRequest">
        <soap:header message="tns:CommitAccountBatchRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountBatchRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:CommitAccountBatchRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountBatchRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAccountBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="CommitAccountTransactionBatchEntry">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IAccountManager/CommitAccountTransactionBatchEntry" style="document" />
      <wsdl:input name="CommitAccountTransactionsBatchRequest">
        <soap:header message="tns:CommitAccountTransactionsBatchRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountTransactionsBatchRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:CommitAccountTransactionsBatchRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:CommitAccountTransactionsBatchRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="CommitAccountTransactionsBatchResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="AccountManager">
    <wsdl:port name="BasicHttpBinding_IAccountManager" binding="tns:BasicHttpBinding_IAccountManager">
      <soap:address location="https://hvprodr4xapi.navitaire.com/AccountManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>