Buchung/Service References/API_AccountService/AccountManager9.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/ServiceContracts/AccountService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Account" />
  <xs:element name="CommitAccountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q1:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q2:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccountTransactionRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q3:FindAccountTransactionRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindAccountTransactionResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q4:FindAccountTransactionResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" name="GetAccountReqData" nillable="true" type="q5:GetAccountRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q6:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByReferenceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" name="GetAccountByReferenceReqData" nillable="true" type="q7:GetAccountByReferenceRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAccountByReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q8:Account" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableCreditByReferenceRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" name="GetAvailableCreditByReferenceReqData" nillable="true" type="q9:GetAvailableCreditByReferenceRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetAvailableCreditByReferenceResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q10:AvailableCreditResponse" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAccountTransactionsRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q11="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q11:PostAccountTransactionRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAccountTransactionsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q12="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" name="AccountTransactions" nillable="true" type="q12:ArrayOfAccountTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAccountBatchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q13="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q13:AccountBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAccountBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q14="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q14:AccountBatch" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAccountTransactionsBatchRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q15="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" ref="q15:accountTransactionBatchRequest" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CommitAccountTransactionsBatchResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q16="http://schemas.navitaire.com/WebServices/DataContracts/Account" minOccurs="0" name="AccountTransactions" nillable="true" type="q16:ArrayOfAccountTransaction" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>