Buchung/Service References/API_AccountService/AccountManager3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Account" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Account" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/AccountManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
  <xs:complexType name="Account">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q1:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountID" type="xs:long" />
          <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="AccountType" type="q2:AccountType" />
          <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="AccountHolderType" type="q3:AccountHolderType" />
          <xs:element xmlns:q4="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Status" type="q4:AccountStatus" />
          <xs:element minOccurs="0" name="AccountReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Limit" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="PersonName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="AccountCredits" nillable="true" type="tns:ArrayOfAccountCredit" />
          <xs:element minOccurs="0" name="AvailableCredits" type="xs:decimal" />
          <xs:element minOccurs="0" name="SpoiledCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SpoiledForeignAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Account" nillable="true" type="tns:Account" />
  <xs:complexType name="ArrayOfAccountCredit">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountCredit" nillable="true" type="tns:AccountCredit" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountCredit" nillable="true" type="tns:ArrayOfAccountCredit" />
  <xs:complexType name="AccountCredit">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q5:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountID" type="xs:long" />
          <xs:element minOccurs="0" name="AccountCreditID" type="xs:long" />
          <xs:element minOccurs="0" name="AccountTransactionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Available" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AccountTransactions" nillable="true" type="tns:ArrayOfAccountTransaction" />
          <xs:element minOccurs="0" name="SpoiledAmount" type="xs:decimal" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountCredit" nillable="true" type="tns:AccountCredit" />
  <xs:complexType name="ArrayOfAccountTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AccountTransaction" nillable="true" type="tns:AccountTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAccountTransaction" nillable="true" type="tns:ArrayOfAccountTransaction" />
  <xs:complexType name="AccountTransaction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q6:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountID" type="xs:long" />
          <xs:element minOccurs="0" name="AccountCreditID" type="xs:long" />
          <xs:element minOccurs="0" name="AccountTransactionID" type="xs:long" />
          <xs:element xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="AccountTransactionType" type="q7:AccountTransactionType" />
          <xs:element minOccurs="0" name="AccountTransactionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="AccountBatchID" type="xs:long" />
          <xs:element minOccurs="0" name="PaymentID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountTransaction" nillable="true" type="tns:AccountTransaction" />
  <xs:complexType name="FindAccountTransactionRequestData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q8:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountID" type="xs:long" />
          <xs:element minOccurs="0" name="AccountCreditID" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedDateTimeBegin" type="xs:dateTime" />
          <xs:element minOccurs="0" name="CreatedDateTimeEnd" type="xs:dateTime" />
          <xs:element minOccurs="0" name="SortDescending" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindAccountTransactionRequestData" nillable="true" type="tns:FindAccountTransactionRequestData" />
  <xs:complexType name="FindAccountTransactionResponseData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q9:ResponseBaseOSI">
        <xs:sequence>
          <xs:element minOccurs="0" name="FindAccountTransactionList" nillable="true" type="tns:ArrayOfFindAccountTransactionItem" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindAccountTransactionResponseData" nillable="true" type="tns:FindAccountTransactionResponseData" />
  <xs:complexType name="ArrayOfFindAccountTransactionItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FindAccountTransactionItem" nillable="true" type="tns:FindAccountTransactionItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFindAccountTransactionItem" nillable="true" type="tns:ArrayOfFindAccountTransactionItem" />
  <xs:complexType name="FindAccountTransactionItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:long" />
      <xs:element minOccurs="0" name="AccountCreditID" type="xs:long" />
      <xs:element minOccurs="0" name="AccountTransactionID" type="xs:long" />
      <xs:element xmlns:q10="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="AccountTransactionType" type="q10:AccountTransactionType" />
      <xs:element minOccurs="0" name="AccountTransactionCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Reference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="AccountBatchID" type="xs:long" />
      <xs:element minOccurs="0" name="AccountBatchReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PaymentID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindAccountTransactionItem" nillable="true" type="tns:FindAccountTransactionItem" />
  <xs:complexType name="GetAccountRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAccountRequestData" nillable="true" type="tns:GetAccountRequestData" />
  <xs:complexType name="GetAccountByReferenceRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q11="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="AccountHolderType" type="q11:AccountHolderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAccountByReferenceRequestData" nillable="true" type="tns:GetAccountByReferenceRequestData" />
  <xs:complexType name="GetAvailableCreditByReferenceRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="AccountReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element xmlns:q12="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="AccountHolderType" type="q12:AccountHolderType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetAvailableCreditByReferenceRequestData" nillable="true" type="tns:GetAvailableCreditByReferenceRequestData" />
  <xs:complexType name="AvailableCreditResponse">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q13="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q13:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Account" nillable="true" type="tns:Account" />
          <xs:element minOccurs="0" name="OtherServiceInformations" nillable="true" type="q13:ArrayOfOtherServiceInformation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AvailableCreditResponse" nillable="true" type="tns:AvailableCreditResponse" />
  <xs:complexType name="PostAccountTransactionRequest">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:AccountTransactionMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountID" type="xs:long" />
          <xs:element minOccurs="0" name="AccountTransactionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PostAccountTransactionRequest" nillable="true" type="tns:PostAccountTransactionRequest" />
  <xs:complexType name="AccountTransactionMessage">
    <xs:sequence>
      <xs:element xmlns:q14="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="TransactionState" type="q14:MessageTransactionState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AccountTransactionMessage" nillable="true" type="tns:AccountTransactionMessage" />
  <xs:complexType name="AccountBatch">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q15="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q15:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountBatchID" type="xs:long" />
          <xs:element minOccurs="0" name="AccountBatchReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransactionCount" type="xs:int" />
          <xs:element minOccurs="0" name="TransactionAmountTotal" type="xs:decimal" />
          <xs:element minOccurs="0" name="AccountTransactions" nillable="true" type="tns:ArrayOfAccountTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountBatch" nillable="true" type="tns:AccountBatch" />
  <xs:complexType name="AccountTransactionBatch">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q16="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q16:StateMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AccountID" type="xs:long" />
          <xs:element xmlns:q17="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="TransactionType" type="q17:AccountTransactionType" />
          <xs:element minOccurs="0" name="TransactionCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TransReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CreditExpiration" type="xs:dateTime" />
          <xs:element minOccurs="0" name="AccountBatchID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="AccountTransactionBatch" nillable="true" type="tns:AccountTransactionBatch" />
  <xs:element name="accountTransactionBatchRequest" nillable="true" type="tns:AccountTransactionBatch" />
</xs:schema>