Buchung/Service References/API_ContentService/ContentManager1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://schemas.navitaire.com/WebServices" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ContentManager" targetNamespace="http://schemas.navitaire.com/WebServices" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IContentManager_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://schemas.navitaire.com/WebServices/Imports">
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd0" namespace="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd5" namespace="http://schemas.navitaire.com/WebServices" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd7" namespace="http://schemas.navitaire.com/WebServices/FaultContracts" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Content" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd6" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd8" namespace="http://www.navitaire.com/Ncl/Validation/ValidationResult" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd9" namespace="http://schemas.datacontract.org/2004/07/Navitaire.Ncl.Collections" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd10" />
      <xsd:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd11" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Booking" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="FindContentsRequest">
    <wsdl:part xmlns:q1="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q1:FindContentsRequest" />
  </wsdl:message>
  <wsdl:message name="FindContentsRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="FindContentsResponse">
    <wsdl:part xmlns:q2="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q2:FindContentsResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManager_FindContents_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q3="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q3:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_FindContents_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q4="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q4:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_FindContents_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q5="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q5:APIFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_FindContents_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q6="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q6:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_FindContents_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q7="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q7:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_FindContents_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q8="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q8:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_FindContents_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q9="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q9:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="GetContentRequest">
    <wsdl:part xmlns:q10="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q10:GetContentRequest" />
  </wsdl:message>
  <wsdl:message name="GetContentRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetContentResponse">
    <wsdl:part xmlns:q11="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q11:GetContentResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetContent_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q12="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q12:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetContent_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q13="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q13:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetContent_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q14="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q14:APIFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetContent_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q15="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q15:APIGeneralFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetContent_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q16="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q16:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetContent_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q17="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q17:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetContent_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q18="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q18:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="GetFareRuleInfoRequest">
    <wsdl:part xmlns:q19="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q19:FareRuleRequest" />
  </wsdl:message>
  <wsdl:message name="GetFareRuleInfoRequest_Headers">
    <wsdl:part name="ContractVersion" element="tns:ContractVersion" />
    <wsdl:part name="EnableExceptionStackTrace" element="tns:EnableExceptionStackTrace" />
    <wsdl:part name="MessageContractVersion" element="tns:MessageContractVersion" />
    <wsdl:part name="Signature" element="tns:Signature" />
  </wsdl:message>
  <wsdl:message name="GetFareRuleInfoResponse">
    <wsdl:part xmlns:q20="http://schemas.navitaire.com/WebServices/ServiceContracts/ContentService" name="parameters" element="q20:GetFareRuleInfoResponse" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetFareRuleInfo_APIWarningFaultFault_FaultMessage">
    <wsdl:part xmlns:q21="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q21:APIWarningFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetFareRuleInfo_APIUnhandledServerFaultFault_FaultMessage">
    <wsdl:part xmlns:q22="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q22:APIUnhandledServerFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetFareRuleInfo_APISecurityFaultFault_FaultMessage">
    <wsdl:part xmlns:q23="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q23:APISecurityFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetFareRuleInfo_APIValidationFaultFault_FaultMessage">
    <wsdl:part xmlns:q24="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q24:APIValidationFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetFareRuleInfo_APIFaultFault_FaultMessage">
    <wsdl:part xmlns:q25="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q25:APIFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetFareRuleInfo_APICriticalFaultFault_FaultMessage">
    <wsdl:part xmlns:q26="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q26:APICriticalFault" />
  </wsdl:message>
  <wsdl:message name="IContentManager_GetFareRuleInfo_APIGeneralFaultFault_FaultMessage">
    <wsdl:part xmlns:q27="http://schemas.navitaire.com/WebServices/FaultContracts" name="detail" element="q27:APIGeneralFault" />
  </wsdl:message>
  <wsdl:portType name="IContentManager">
    <wsdl:operation name="FindContents">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContents" name="FindContentsRequest" message="tns:FindContentsRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsResponse" name="FindContentsResponse" message="tns:FindContentsResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IContentManager_FindContents_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IContentManager_FindContents_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsAPIFaultFault" name="APIFaultFault" message="tns:IContentManager_FindContents_APIFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IContentManager_FindContents_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IContentManager_FindContents_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IContentManager_FindContents_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/FindContentsAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IContentManager_FindContents_APIValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContent" name="GetContentRequest" message="tns:GetContentRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentResponse" name="GetContentResponse" message="tns:GetContentResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IContentManager_GetContent_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IContentManager_GetContent_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentAPIFaultFault" name="APIFaultFault" message="tns:IContentManager_GetContent_APIFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IContentManager_GetContent_APIGeneralFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IContentManager_GetContent_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IContentManager_GetContent_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetContentAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IContentManager_GetContent_APIValidationFaultFault_FaultMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetFareRuleInfo">
      <wsdl:input wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfo" name="GetFareRuleInfoRequest" message="tns:GetFareRuleInfoRequest" />
      <wsdl:output wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoResponse" name="GetFareRuleInfoResponse" message="tns:GetFareRuleInfoResponse" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoAPIWarningFaultFault" name="APIWarningFaultFault" message="tns:IContentManager_GetFareRuleInfo_APIWarningFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoAPIUnhandledServerFaultFault" name="APIUnhandledServerFaultFault" message="tns:IContentManager_GetFareRuleInfo_APIUnhandledServerFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoAPISecurityFaultFault" name="APISecurityFaultFault" message="tns:IContentManager_GetFareRuleInfo_APISecurityFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoAPIValidationFaultFault" name="APIValidationFaultFault" message="tns:IContentManager_GetFareRuleInfo_APIValidationFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoAPIFaultFault" name="APIFaultFault" message="tns:IContentManager_GetFareRuleInfo_APIFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoAPICriticalFaultFault" name="APICriticalFaultFault" message="tns:IContentManager_GetFareRuleInfo_APICriticalFaultFault_FaultMessage" />
      <wsdl:fault wsaw:Action="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfoAPIGeneralFaultFault" name="APIGeneralFaultFault" message="tns:IContentManager_GetFareRuleInfo_APIGeneralFaultFault_FaultMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IContentManager" type="tns:IContentManager">
    <wsp:PolicyReference URI="#BasicHttpBinding_IContentManager_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="FindContents">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IContentManager/FindContents" style="document" />
      <wsdl:input name="FindContentsRequest">
        <soap:header message="tns:FindContentsRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:FindContentsRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:FindContentsRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:FindContentsRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="FindContentsResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetContent">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IContentManager/GetContent" style="document" />
      <wsdl:input name="GetContentRequest">
        <soap:header message="tns:GetContentRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetContentRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:GetContentRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:GetContentRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetContentResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
    <wsdl:operation name="GetFareRuleInfo">
      <soap:operation soapAction="http://schemas.navitaire.com/WebServices/IContentManager/GetFareRuleInfo" style="document" />
      <wsdl:input name="GetFareRuleInfoRequest">
        <soap:header message="tns:GetFareRuleInfoRequest_Headers" part="ContractVersion" use="literal" />
        <soap:header message="tns:GetFareRuleInfoRequest_Headers" part="EnableExceptionStackTrace" use="literal" />
        <soap:header message="tns:GetFareRuleInfoRequest_Headers" part="MessageContractVersion" use="literal" />
        <soap:header message="tns:GetFareRuleInfoRequest_Headers" part="Signature" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output name="GetFareRuleInfoResponse">
        <soap:body use="literal" />
      </wsdl:output>
      <wsdl:fault name="APIWarningFaultFault">
        <soap:fault use="literal" name="APIWarningFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIUnhandledServerFaultFault">
        <soap:fault use="literal" name="APIUnhandledServerFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APISecurityFaultFault">
        <soap:fault use="literal" name="APISecurityFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIValidationFaultFault">
        <soap:fault use="literal" name="APIValidationFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIFaultFault">
        <soap:fault use="literal" name="APIFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APICriticalFaultFault">
        <soap:fault use="literal" name="APICriticalFaultFault" namespace="" />
      </wsdl:fault>
      <wsdl:fault name="APIGeneralFaultFault">
        <soap:fault use="literal" name="APIGeneralFaultFault" namespace="" />
      </wsdl:fault>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ContentManager">
    <wsdl:port name="BasicHttpBinding_IContentManager" binding="tns:BasicHttpBinding_IContentManager">
      <soap:address location="https://hvprodr4xapi.navitaire.com/ContentManager.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>