Buchung/Service References/API_ContentService/ContentManager84.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="SearchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="StartsWith" />
      <xs:enumeration value="EndsWith" />
      <xs:enumeration value="Contains" />
      <xs:enumeration value="ExactMatch" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchType" nillable="true" type="tns:SearchType" />
  <xs:simpleType name="ContentType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="GeneralReference" />
      <xs:enumeration value="News" />
      <xs:enumeration value="ConsoleHelp" />
      <xs:enumeration value="FareRuleReference" />
      <xs:enumeration value="ReviewWithCustomer" />
      <xs:enumeration value="Notices" />
      <xs:enumeration value="Literature" />
      <xs:enumeration value="Links" />
      <xs:enumeration value="Image" />
      <xs:enumeration value="PromotionReference" />
      <xs:enumeration value="SubscriptionReference" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContentType" nillable="true" type="tns:ContentType" />
  <xs:simpleType name="MessageState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Clean" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="Confirmed" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageState" nillable="true" type="tns:MessageState" />
  <xs:simpleType name="VoucherTransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debit" />
      <xs:enumeration value="Credit" />
      <xs:enumeration value="Void" />
      <xs:enumeration value="Reinstate" />
      <xs:enumeration value="Adjustment" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherTransactionType" nillable="true" type="tns:VoucherTransactionType" />
  <xs:simpleType name="VoucherType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Credit" />
      <xs:enumeration value="SingleUseCredit" />
      <xs:enumeration value="Service" />
      <xs:enumeration value="SingleUse" />
      <xs:enumeration value="MultiUse" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherType" nillable="true" type="tns:VoucherType" />
  <xs:simpleType name="VoucherStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="Redeemed" />
      <xs:enumeration value="Void" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherStatus" nillable="true" type="tns:VoucherStatus" />
  <xs:simpleType name="ContentDataType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Default" />
      <xs:enumeration value="Text" />
      <xs:enumeration value="RichTextFormat" />
      <xs:enumeration value="ImageJPG" />
      <xs:enumeration value="ImageGIF" />
      <xs:enumeration value="ImageBMP" />
      <xs:enumeration value="ImagePNG" />
      <xs:enumeration value="WordDoc" />
      <xs:enumeration value="HTML" />
      <xs:enumeration value="PDF" />
      <xs:enumeration value="URI" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="ContentDataType" nillable="true" type="tns:ContentDataType" />
  <xs:simpleType name="OSISeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="General" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Critical" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OSISeverity" nillable="true" type="tns:OSISeverity" />
</xs:schema>