Buchung/Service References/API_ContentService/ContentManager8.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Common" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/ContentManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageSize" type="xs:short" />
      <xs:element minOccurs="0" name="LastID" type="xs:long" />
      <xs:element minOccurs="0" name="LastCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetTotalCount" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="SearchString">
    <xs:sequence>
      <xs:element minOccurs="0" name="Value" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="SearchType" type="q1:SearchType" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="SearchString" nillable="true" type="tns:SearchString" />
  <xs:complexType name="ResponseBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="PageSize" type="xs:short" />
      <xs:element minOccurs="0" name="LastID" type="xs:long" />
      <xs:element minOccurs="0" name="TotalCount" type="xs:int" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ResponseBase" nillable="true" type="tns:ResponseBase" />
  <xs:complexType name="ModifiedMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StateMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedAgentID" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModifiedAgentID" type="xs:long" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModifiedMessage" nillable="true" type="tns:ModifiedMessage" />
  <xs:complexType name="StateMessage">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="State" type="q2:MessageState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateMessage" nillable="true" type="tns:StateMessage" />
  <xs:complexType name="ArrayOfOtherServiceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherServiceInformation" nillable="true" type="tns:OtherServiceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherServiceInformation" nillable="true" type="tns:ArrayOfOtherServiceInformation" />
  <xs:complexType name="OtherServiceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="OsiSeverity" type="q3:OSISeverity" />
      <xs:element minOccurs="0" name="OSITypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherServiceInformation" nillable="true" type="tns:OtherServiceInformation" />
</xs:schema>