Buchung/Service References/API_ContentService/ContentManager85.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Booking" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Booking" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="FareRuleRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="FareBasisCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ClassOfService" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="RuleTariff" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FareRuleRequestData" nillable="true" type="tns:FareRuleRequestData" />
</xs:schema>