Buchung/Service References/API_OperationService/OperationManager1111.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Common" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/OperationManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
  <xs:complexType name="FlightDesignator">
    <xs:sequence>
      <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OpSuffix" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FlightDesignator" nillable="true" type="tns:FlightDesignator" />
  <xs:complexType name="ArrayOfOtherServiceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="OtherServiceInformation" nillable="true" type="tns:OtherServiceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfOtherServiceInformation" nillable="true" type="tns:ArrayOfOtherServiceInformation" />
  <xs:complexType name="OtherServiceInformation">
    <xs:sequence>
      <xs:element minOccurs="0" name="Text" nillable="true" type="xs:string" />
      <xs:element xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="OsiSeverity" type="q1:OSISeverity" />
      <xs:element minOccurs="0" name="OSITypeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="OtherServiceInformation" nillable="true" type="tns:OtherServiceInformation" />
  <xs:complexType name="RequestBase">
    <xs:sequence>
      <xs:element minOccurs="0" name="ActiveOnly" type="xs:boolean" />
      <xs:element minOccurs="0" name="PageSize" type="xs:short" />
      <xs:element minOccurs="0" name="LastID" type="xs:long" />
      <xs:element minOccurs="0" name="LastCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CultureCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="GetTotalCount" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RequestBase" nillable="true" type="tns:RequestBase" />
  <xs:complexType name="Name">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ParentMessageBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="Title" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="MiddleName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Suffix" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Name" nillable="true" type="tns:Name" />
  <xs:complexType name="ParentMessageBase">
    <xs:sequence />
  </xs:complexType>
  <xs:element name="ParentMessageBase" nillable="true" type="tns:ParentMessageBase" />
  <xs:complexType name="InventoryLegKey">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:FlightDesignator">
        <xs:sequence>
          <xs:element minOccurs="0" name="DepartureDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="DepartureStation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ArrivalStation" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="InventoryLegKey" nillable="true" type="tns:InventoryLegKey" />
  <xs:complexType name="StateMessage">
    <xs:sequence>
      <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="State" type="q2:MessageState" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="StateMessage" nillable="true" type="tns:StateMessage" />
  <xs:complexType name="PointOfSale">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StateMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="AgentCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OrganizationCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DomainCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LocationCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="PointOfSale" nillable="true" type="tns:PointOfSale" />
  <xs:complexType name="DocType">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="DocTypeCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="TypeName" nillable="true" type="xs:string" />
          <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="DocumentType" type="q3:DocumentType" />
          <xs:element xmlns:q4="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="DocRequiredPropertyType" type="q4:DocRequiredPropertyType" />
          <xs:element minOccurs="0" name="InActive" type="xs:boolean" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="DocType" nillable="true" type="tns:DocType" />
  <xs:complexType name="ModifiedMessage">
    <xs:complexContent mixed="false">
      <xs:extension base="tns:StateMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="CreatedAgentID" type="xs:long" />
          <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="ModifiedAgentID" type="xs:long" />
          <xs:element minOccurs="0" name="ModifiedDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="ModifiedMessage" nillable="true" type="tns:ModifiedMessage" />
  <xs:complexType name="ArrayOfServiceCharge">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="ServiceCharge" nillable="true" type="tns:ServiceCharge" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfServiceCharge" nillable="true" type="tns:ArrayOfServiceCharge" />
  <xs:complexType name="ServiceCharge">
    <xs:sequence>
      <xs:element xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="ChargeType" type="q5:ChargeType" />
      <xs:element xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="CollectType" type="q6:CollectType" />
      <xs:element minOccurs="0" name="ChargeCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="TicketCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ChargeDetail" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ServiceCharge" nillable="true" type="tns:ServiceCharge" />
  <xs:complexType name="ArrayOfAuthStatusConfig">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="AuthStatusConfig" nillable="true" type="tns:AuthStatusConfig" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfAuthStatusConfig" nillable="true" type="tns:ArrayOfAuthStatusConfig" />
  <xs:complexType name="AuthStatusConfig">
    <xs:sequence>
      <xs:element minOccurs="0" name="AuthStatusCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CheckInAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="BoardingPassPrintingAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="BoardingAllowed" type="xs:boolean" />
      <xs:element minOccurs="0" name="AuthStatusDescription" nillable="true" type="xs:string" />
      <xs:element xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="ScreeningTypeCode" type="q7:ScreeningType" />
      <xs:element minOccurs="0" name="CustomFreeText" nillable="true" type="xs:string" />
      <xs:element xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="ElectronicTravelAuthorizationCode" type="q8:ElectronicTravelAuthorization" />
      <xs:element minOccurs="0" name="BoardingPassPrintText" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PromptToVerifyID" type="xs:boolean" />
      <xs:element minOccurs="0" name="ErrorResponse" type="xs:boolean" />
      <xs:element minOccurs="0" name="IncompleteDirective" type="xs:boolean" />
      <xs:element minOccurs="0" name="ValidOverrideAuthCode" type="xs:boolean" />
      <xs:element minOccurs="0" name="CheckInOverrideAllowed" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="AuthStatusConfig" nillable="true" type="tns:AuthStatusConfig" />
</xs:schema>