Buchung/Service References/API_VoucherService/VoucherManager6.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/VoucherManager.svc?xsd=xsd3" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common" />
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/VoucherManager.svc?xsd=xsd4" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" />
  <xs:complexType name="VoucherIssuanceBatchRequest">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q1:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="VoucherBasisCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherIssuanceID" type="xs:long" />
          <xs:element minOccurs="0" name="IssuanceReasonCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InventorySegmentKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecordLocator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="NumberOfVouchersRequested" type="xs:int" />
          <xs:element minOccurs="0" name="DepartureStation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ArrivalStation" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CarrierCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="DepartureDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="FlightNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="OpSuffix" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="SendFiles" type="xs:boolean" />
          <xs:element minOccurs="0" name="SSRCode" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VoucherIssuanceBatchRequest" nillable="true" type="tns:VoucherIssuanceBatchRequest" />
  <xs:complexType name="VoucherTransaction">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q2:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="VoucherID" type="xs:long" />
          <xs:element minOccurs="0" name="VoucherTransactionID" type="xs:long" />
          <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="VoucherTransactionType" type="q3:VoucherTransactionType" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="RecordLocator" nillable="true" type="xs:string" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VoucherTransaction" nillable="true" type="tns:VoucherTransaction" />
  <xs:complexType name="VoucherIssuance">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q4="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q4:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="VoucherBasisCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherIssuanceID" type="xs:long" />
          <xs:element minOccurs="0" name="IssuanceReasonCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ExpirationDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="InventorySegmentKey" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Vouchers" nillable="true" type="tns:ArrayOfVoucher" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="VoucherIssuance" nillable="true" type="tns:VoucherIssuance" />
  <xs:complexType name="ArrayOfVoucher">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Voucher" nillable="true" type="tns:Voucher" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoucher" nillable="true" type="tns:ArrayOfVoucher" />
  <xs:complexType name="Voucher">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q5:ModifiedMessage">
        <xs:sequence>
          <xs:element minOccurs="0" name="VoucherID" type="xs:long" />
          <xs:element xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="VoucherType" type="q6:VoucherType" />
          <xs:element minOccurs="0" name="VoucherBasisCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherIssuanceID" type="xs:long" />
          <xs:element xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Status" type="q7:VoucherStatus" />
          <xs:element minOccurs="0" name="VoucherReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
          <xs:element minOccurs="0" name="Available" type="xs:decimal" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="ForeignAmount" type="xs:decimal" />
          <xs:element minOccurs="0" name="ForeignCurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
          <xs:element minOccurs="0" name="RecordLocator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="PersonID" type="xs:long" />
          <xs:element minOccurs="0" name="VoucherTransactions" nillable="true" type="tns:ArrayOfVoucherTransaction" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="Voucher" nillable="true" type="tns:Voucher" />
  <xs:complexType name="ArrayOfVoucherTransaction">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="VoucherTransaction" nillable="true" type="tns:VoucherTransaction" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfVoucherTransaction" nillable="true" type="tns:ArrayOfVoucherTransaction" />
  <xs:element name="voucherIssuanceBatchReq" nillable="true" type="tns:VoucherIssuanceBatchRequest" />
  <xs:element name="voucherReference" nillable="true" type="xs:string" />
  <xs:complexType name="FindVoucherRequestData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q8:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="VoucherReference" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="FirstName" nillable="true" type="q8:SearchString" />
          <xs:element minOccurs="0" name="RecordLocator" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="InventorySegmentKey" nillable="true" type="q8:InventoryLegKey" />
          <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
          <xs:element minOccurs="0" name="VoucherIssuanceID" type="xs:long" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindVoucherRequestData" nillable="true" type="tns:FindVoucherRequestData" />
  <xs:element name="findVoucherReqData" nillable="true" type="tns:FindVoucherRequestData" />
  <xs:complexType name="FindVoucherResponseData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q9="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q9:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="FindVoucherList" nillable="true" type="tns:ArrayOfFindVoucherItem" />
          <xs:element minOccurs="0" name="OtherServiceInformations" nillable="true" type="q9:ArrayOfOtherServiceInformation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="FindVoucherResponseData" nillable="true" type="tns:FindVoucherResponseData" />
  <xs:complexType name="ArrayOfFindVoucherItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="FindVoucherItem" nillable="true" type="tns:FindVoucherItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfFindVoucherItem" nillable="true" type="tns:ArrayOfFindVoucherItem" />
  <xs:complexType name="FindVoucherItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="VoucherID" type="xs:long" />
      <xs:element minOccurs="0" name="VoucherBasisCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="VoucherIssuanceID" type="xs:long" />
      <xs:element xmlns:q10="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="Status" type="q10:VoucherStatus" />
      <xs:element minOccurs="0" name="VoucherReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Amount" type="xs:decimal" />
      <xs:element minOccurs="0" name="Available" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="LastName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="FirstName" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
      <xs:element minOccurs="0" name="PersonID" type="xs:long" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="FindVoucherItem" nillable="true" type="tns:FindVoucherItem" />
  <xs:complexType name="GetVoucherListByDateRequestData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q11="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q11:RequestBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="BeginDate" type="xs:dateTime" />
          <xs:element minOccurs="0" name="EndDate" type="xs:dateTime" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetVoucherListByDateRequestData" nillable="true" type="tns:GetVoucherListByDateRequestData" />
  <xs:element name="GetVoucherListByDateReqData" nillable="true" type="tns:GetVoucherListByDateRequestData" />
  <xs:complexType name="GetVoucherListByDateResponseData">
    <xs:complexContent mixed="false">
      <xs:extension xmlns:q12="http://schemas.navitaire.com/WebServices/DataContracts/Common" base="q12:ResponseBase">
        <xs:sequence>
          <xs:element minOccurs="0" name="GetVoucherByDateList" nillable="true" type="tns:ArrayOfGetVoucherByDateItem" />
          <xs:element minOccurs="0" name="OtherServiceInformations" nillable="true" type="q12:ArrayOfOtherServiceInformation" />
        </xs:sequence>
      </xs:extension>
    </xs:complexContent>
  </xs:complexType>
  <xs:element name="GetVoucherListByDateResponseData" nillable="true" type="tns:GetVoucherListByDateResponseData" />
  <xs:complexType name="ArrayOfGetVoucherByDateItem">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="GetVoucherByDateItem" nillable="true" type="tns:GetVoucherByDateItem" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfGetVoucherByDateItem" nillable="true" type="tns:ArrayOfGetVoucherByDateItem" />
  <xs:complexType name="GetVoucherByDateItem">
    <xs:sequence>
      <xs:element minOccurs="0" name="VoucherID" type="xs:long" />
      <xs:element minOccurs="0" name="VoucherIssuanceID" type="xs:long" />
      <xs:element minOccurs="0" name="VoucherReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Expiration" type="xs:dateTime" />
      <xs:element minOccurs="0" name="RecordLocator" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Note" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CreatedDate" type="xs:dateTime" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetVoucherByDateItem" nillable="true" type="tns:GetVoucherByDateItem" />
  <xs:element name="GetVoucherListByDateRespData" nillable="true" type="tns:GetVoucherListByDateResponseData" />
  <xs:complexType name="GetVoucherInfoRequestData">
    <xs:sequence>
      <xs:element minOccurs="0" name="VoucherReference" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="OverrideRestrictions" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetVoucherInfoRequestData" nillable="true" type="tns:GetVoucherInfoRequestData" />
  <xs:element name="getVoucherInfoRequestData" nillable="true" type="tns:GetVoucherInfoRequestData" />
  <xs:complexType name="GetVoucherInfoResponseData">
    <xs:sequence>
      <xs:element minOccurs="0" name="RedeemableAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CalculatedAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="AvailableAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ReversableAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="CurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignReversableAmount" type="xs:decimal" />
      <xs:element minOccurs="0" name="ForeignAvailableCurrencyCode" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ForeignAvailableAmount" type="xs:decimal" />
      <xs:element xmlns:q13="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" minOccurs="0" name="VoucherNameRestriction" type="q13:VoucherNameRestriction" />
      <xs:element minOccurs="0" name="CustomerNumber" nillable="true" type="xs:string" />
      <xs:element xmlns:q14="http://schemas.navitaire.com/WebServices/DataContracts/Common" minOccurs="0" name="CustomerName" nillable="true" type="q14:Name" />
      <xs:element minOccurs="0" name="Voucher" nillable="true" type="tns:Voucher" />
      <xs:element xmlns:q15="http://schemas.navitaire.com/WebServices/DataContracts/Common" minOccurs="0" name="OtherServiceInformationList" nillable="true" type="q15:ArrayOfOtherServiceInformation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="GetVoucherInfoResponseData" nillable="true" type="tns:GetVoucherInfoResponseData" />
  <xs:element name="getVoucherInfoResponseData" nillable="true" type="tns:GetVoucherInfoResponseData" />
</xs:schema>