Buchung/Service References/API_VoucherService/VoucherManager1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/ServiceContracts/VoucherService" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/ServiceContracts/VoucherService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/VoucherManager.svc?xsd=xsd2" namespace="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" />
  <xs:element name="CreateVouchersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q1:voucherIssuanceBatchReq" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CreateVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q2:VoucherIssuance" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="VoidVoucherRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q3:voucherReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ReinstateVoucherRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q4:voucherReference" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVouchersRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q5:findVoucherReqData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="FindVouchersResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q6="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q6:FindVoucherResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherListByDateRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q7:GetVoucherListByDateReqData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherListByDateResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q8="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q8:GetVoucherListByDateRespData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherInfoRequest">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q9="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q9:getVoucherInfoRequestData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetVoucherInfoResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q10="http://schemas.navitaire.com/WebServices/DataContracts/Voucher" minOccurs="0" ref="q10:getVoucherInfoResponseData" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>