Buchung/Service References/API_VoucherService/VoucherManager.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" elementFormDefault="qualified" targetNamespace="http://schemas.navitaire.com/WebServices/DataContracts/Common/Enumerations" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="https://hvprodr4xapi.navitaire.com/VoucherManager.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:simpleType name="MessageState">
    <xs:restriction base="xs:string">
      <xs:enumeration value="New" />
      <xs:enumeration value="Clean" />
      <xs:enumeration value="Modified" />
      <xs:enumeration value="Deleted" />
      <xs:enumeration value="Confirmed" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="MessageState" nillable="true" type="tns:MessageState" />
  <xs:simpleType name="VoucherTransactionType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Debit" />
      <xs:enumeration value="Credit" />
      <xs:enumeration value="Void" />
      <xs:enumeration value="Reinstate" />
      <xs:enumeration value="Adjustment" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherTransactionType" nillable="true" type="tns:VoucherTransactionType" />
  <xs:simpleType name="VoucherType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Credit" />
      <xs:enumeration value="SingleUseCredit" />
      <xs:enumeration value="Service" />
      <xs:enumeration value="SingleUse" />
      <xs:enumeration value="MultiUse" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherType" nillable="true" type="tns:VoucherType" />
  <xs:simpleType name="VoucherStatus">
    <xs:restriction base="xs:string">
      <xs:enumeration value="Available" />
      <xs:enumeration value="Redeemed" />
      <xs:enumeration value="Void" />
      <xs:enumeration value="Expired" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherStatus" nillable="true" type="tns:VoucherStatus" />
  <xs:simpleType name="SearchType">
    <xs:restriction base="xs:string">
      <xs:enumeration value="StartsWith" />
      <xs:enumeration value="EndsWith" />
      <xs:enumeration value="Contains" />
      <xs:enumeration value="ExactMatch" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="SearchType" nillable="true" type="tns:SearchType" />
  <xs:simpleType name="OSISeverity">
    <xs:restriction base="xs:string">
      <xs:enumeration value="General" />
      <xs:enumeration value="Warning" />
      <xs:enumeration value="Critical" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="OSISeverity" nillable="true" type="tns:OSISeverity" />
  <xs:simpleType name="VoucherNameRestriction">
    <xs:restriction base="xs:string">
      <xs:enumeration value="None" />
      <xs:enumeration value="MustBePassenger" />
      <xs:enumeration value="MustBePassengerOrContact" />
      <xs:enumeration value="Unmapped">
        <xs:annotation>
          <xs:appinfo>
            <EnumerationValue xmlns="http://schemas.microsoft.com/2003/10/Serialization/">-1</EnumerationValue>
          </xs:appinfo>
        </xs:annotation>
      </xs:enumeration>
    </xs:restriction>
  </xs:simpleType>
  <xs:element name="VoucherNameRestriction" nillable="true" type="tns:VoucherNameRestriction" />
</xs:schema>